:root {
    /* Brand Colors */
    --color-blue: #07385c;
    --color-yellow: #ffb703;
    --color-yellow-light: #fcbf49;
    --color-green-light: #89b11d;
    --color-green-dark: #225c16;
    --color-accent-olive: #7a9630;
    --color-accent-darkgreen: #3f5e29;

    /* Background Colors */
    --color-bg: #ece0d0;
    --color-bg-box: #c4d88A;

    /* Text Colors */
    --color-text-dark: #2c2727;
    --color-text-white: #fff;

    /* Shadows */
    --color-shadow-text-blue: rgba(7, 56, 92, 1);
    --color-shadow-text-yellow: rgba(252, 191, 73, 1);
    --color-shadow-text-green: rgba(137, 177, 29, 0.7);
    --color-shadow-black: rgba(0, 0, 0, 0.2);
}

/* === CSS Reset === */
body, div, nav, header, main, h1, h2, h3, h4, p, figure, figcaption, blockquote {
    margin: 0;
    padding: 0;
    border: 0;
}


* {
    
    box-sizing: border-box;
}

/* === CSS styles for body and headings === */
body {
    font-family: 'Mali', cursive;
    font-weight: 600;
    background-color: var(--color-bg);
    color: var(--color-text-dark);
}

h1, h2, h3 {
    font-family: "Luxurious Roman", serif;
}

/* ====================================================================== */
/* ===== STYLE RULES FOR DESKTOP VIEWPORT ===== */
/* ---------------------------------------------------------------------- */
/* DESKTOP VIEWPORT  |  HOME: CSS styles for nav */
@keyframes navBounce {
  0% { transform: translateY(-100px); opacity: 0; }
  60% { transform: translateY(1px); opacity: 1; }
  80% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

.main-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background: rgba(19, 27, 133, 0.15);
    backdrop-filter: blur(12px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 80px;
    animation: navBounce 1s ease-out forwards;
}

.main-nav img {
    width: 100px;
    height: auto;
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 35px;
}

.main-nav a {
    position: relative;
    text-decoration: none;
    color: var(--color-text-white);
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 20px;
    transition: color 0.3s ease;
    font-size: 1.1rem;
}

.main-nav ul a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    width: 60%;
    height: 3px;
    background: linear-gradient(90deg, #ffb703, #fcbf49);
    border-radius: 2px;
    transition: transform 0.3s ease;
}

.main-nav a:hover::after,
.main-nav a.active::after {
    transform: translateX(-50%) scaleX(1);
}

.main-nav a:hover {
    text-shadow: 1px 1px 15px rgba(252, 191, 73, 1);
}

/* DESKTOP VIEWPORT  |  HOME: CSS styles for hero image */
.home-hero {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    background: url('images/header-1.png') no-repeat center center;
    background-size: cover;
    position: relative;
}

.home-hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.1);
}

.home-hero-text {
    position: relative;
    max-width: 60%;
    z-index: 1;
    padding-left: 8vw;
}

.home-hero-text h1 {
    font-size: 4rem;
    font-weight: 400;
    color: var(--color-text-white);
    line-height: 1.3;
    margin-bottom: 25px;
    text-shadow: 7px 3px 3px var(--color-shadow-text-blue);
}

.header-btn {
    display: inline-block;
    padding: 14px 35px;
    background-color: var(--color-blue);
    color: var(--color-text-white);
    border-radius: 25px;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.header-btn:hover {
    text-shadow: 1px 1px 5px var(--color-shadow-text-yellow);
    box-shadow: 1px 1px 20px var(--color-shadow-text-yellow);
    color: var(--color-text-white);
    transform: translateY(-2px);
}

/* DESKTOP VIEWPORT  |  HOME: CSS styles for featured */
#featured {
    padding: 100px 60px;
    text-align: center;
}

#featured h2 {
    font-size: 2.2rem;
    color: var(--color-blue);
    margin-bottom: 20px;
}

.product-grid {
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(2, 200px);
    flex-wrap: wrap;
    margin-bottom: 20px;
}

/* .product {
    text-align: center;
    width: 240px;
    padding: 20px;
}

.product.style-a img{
    width: 100%;
    border-bottom-left-radius: 55px;
    border-top-right-radius: 55px;
    border: 3.5px solid var(--color-green-light);
}

.product.style-b img{
    width: 100%;
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;
    border: 3.5px solid var(--color-green-dark);
}

.product.style-c img{
    width: 100%;
    border-top-left-radius: 55px;
    border-bottom-right-radius: 55px;
    border: 3.5px solid var(--color-green-light);
}

.product.style-a.border-style-a img {
    border: 3.5px solid var(--color-green-dark);
}

.product.style-b.border-style-b img {
    border: 3.5px solid var(--color-green-light);
}

.product h3 {
    margin: 10px 0.5px;
    font-size: 1.2rem;
}

.product p {
    text-shadow: 1px 1px 10px var(--color-shadow-text-green);
} */

figure.product {
    text-align: center;
    width: 220px;
    padding: 5px 20px;
}

.product.style-a img{
    width: 100%;
    border-bottom-left-radius: 55px;
    border-top-right-radius: 55px;
    border: 3.5px solid var(--color-green-light);
}

.product.style-b img{
    width: 100%;
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;
    border: 3.5px solid var(--color-green-dark);
}

.product.style-c img{
    width: 100%;
    border-top-left-radius: 55px;
    border-bottom-right-radius: 55px;
    border: 3.5px solid var(--color-green-light);
}

.product.style-a.border-style-a img {
    border: 3.5px solid var(--color-green-dark);
}

.product.style-b.border-style-b img {
    border: 3.5px solid var(--color-green-light);
}

.product figcaption p {
    text-shadow: 1px 1px 10px var(--color-shadow-text-green);
}

.featured-btn {
    display: inline-block;
    background-color: var(--color-blue);
    color: var(--color-text-white);
    padding: 12px 30px;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.featured-btn:hover {
    background-color: var(--color-green-dark);
}

/* DESKTOP VIEWPORT  |  HOME: CSS styles for story */
#story {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    background: url('images/makers-story-background.png') no-repeat center center;
    background-size: cover;
    font-size: 1rem;
    color: var(--color-green-dark);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 5vw;
}

#story::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 40px;
    margin: 0 2vw;
}

#story h2, 
#story p {
    position: relative;
    z-index: 1;
    max-width: 900px;
    margin: 0 auto;
    font-size: 1.2rem;
}

#story h2{
    width: 100%;
    padding-bottom: 20px;
    text-align: left;
    font-size: 2.2rem;
}

/* DESKTOP VIEWPORT  |  HOME: CSS styles for testimonials */
#testimonials {
    width: 100%;
    height: auto;
    background: url('images/sweet-words-background.png') no-repeat center center;
    background-size: cover;
    padding: 120px 60px;
    text-align: center;
}

#testimonials h2 {
    font-size: 2.2rem;
    color: var(--color-blue);
    background-color:  var(--color-bg);
    display: inline-block;
    padding: 0px 10px;
    border-radius: 30px;
}

.testimonials-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 45px;
    margin-top: 30px;
    align-items: center;
}

blockquote {
    background-color: var(--color-bg-box);
    border-radius: 15px;
    border: 3.5px solid var(--color-green-dark);
    padding: 20px;
    width: 35%;
    font-size: 1.2rem;
    line-height: 1.5;
    font-style: italic;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

blockquote:nth-child(1), 
blockquote:nth-child(3) {
    width: 25%;
    height: auto;
}

cite {
    display: block;
    margin-top: 10px;
    text-align: right;
}

/* ---------------------------------------------------------------------- */
/* DESKTOP VIEWPORT  |  ABOUT: CSS styles for intro */
#intro {
    max-width: 1250px;
    width: 90%;
    margin: 0 auto;
    padding: 9rem 2rem 3rem 2rem;
    color: var(--color-green-dark);
    text-shadow: 7px 3px 3px rgba(196, 216, 138, 1);
    line-height: 1.5;
    overflow: hidden;
    box-sizing: border-box;
}

.intro-text {
    width: 100%;
    box-sizing: border-box;
}

.intro-text h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.intro-image-float {
    float: right;
    width: 30%;
    max-width: 100%;
    margin-left: 30px;
    margin-bottom: 20px;
    float: right;
}

/* DESKTOP VIEWPORT  |  ABOUT: CSS styles for behind */
#behind {
    position: relative;
    padding: 6rem 2rem;
    background: url('images/behind-the-scenes-background.png') center top no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center top;
    z-index: 2;
    margin-bottom: -18px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.column {
    flex: 1 1 50%;
    max-width: 50%;
    box-sizing: border-box;
    padding: 0.5rem;
}

.column img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 6px 12px var(--color-shadow-black);
    transition: transform 0.3s ease;
}

.behind-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.behind-text h2 {
    color: var(--color-blue);
    font-size: 2.2rem;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 1);
  
}

.behind-text p {
    color: var(--color-text-white);
    font-size: 1.2rem;
    line-height: 1.5;
}

/* DESKTOP VIEWPORT  |  ABOUT: CSS styles for mission-values */
#mission-values {
    width: 100%;
    height: auto;
    background: url('images/mission-and-values-background.png') no-repeat center center/cover;
    padding: 120px 60px;
    text-align: center;
    z-index: 1;
}

#mission-values h2 {
    font-size: 2.2rem;
    color: var(--color-blue);
    background-color:  var(--color-bg);
    display: inline-block;
    padding: 0px 10px;
    border-radius: 30px;
}

.mission-values-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
    margin-top: 30px;
}

.value {
    flex: 1 1 280px;
    max-width: 250px;
    min-height: 220px;
    background-color: var(--color-bg-box);
    border-radius: 15px;
    border: 3.5px solid var(--color-green-dark);
    padding: 20px;
    font-size: 1rem;
    line-height: 1.5;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* ---------------------------------------------------------------------- */
/* DESKTOP VIEWPORT  |  SHOP: CSS styles for shop */
#shop-header {
    text-align: center;
    padding-top: 9rem;
    padding-bottom: 1.5rem;
}

#shop-header h1 {
    font-size: 3.5rem;
    color: var(--color-blue);
    margin-bottom: 0.5rem;
}

.category-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1.8rem;
}

.category-nav a {
    text-decoration: none;
    color: var(--color-blue);
    font-size: 1.2rem;
    font-weight: 700;
    transition: color 0.3s ease;
}

.category-nav a:hover {
    color: #5a8bb1;
    text-decoration: underline;
}

#limited,
#bunny,
#bear {
    padding: 20px;
    text-align: center;
}

#limited h2,
#bunny h2,
#bear h2 {
    font-size: 2.2rem;
    color: var(--color-blue);
    margin-bottom: 30px;
}

#limited .product-grid,
#bunny .product-grid,
#bear .product-grid{
    display: grid;
    grid-template-columns: repeat(4, 200px);
    justify-items: center;
    margin-bottom: 50px;
    font-size: 1.1rem;
    gap: 25px;
    row-gap: 50px;
}

.product.style-a.border-style-b img {
    border: 3.5px solid var(--color-green-light);
}

.product.style-c.border-style-a img {
    border: 3.5px solid var(--color-green-dark);
}

#limited .product h4,
#bunny .product h4,
#bear .product h4, 
#limited .product p,
#bunny .product p,
#bear .product p {
    text-align: left;
    padding: 1px 0;
    box-sizing: border-box;
}

.product .btn {
    display: block;
    width: 100%;
    padding: 5px 0;
    margin-top: 8px;
    border-radius: 5px;
    background-color: var(--color-blue);
    color: var(--color-text-white);
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

.product .btn:hover {
    background-color: var(--color-green-dark);
}

/* ---------------------------------------------------------------------- */
/* DESKTOP VIEWPORT  |  ORDER: CSS styles for hero */
.hero {
    width: 100%;
    height: auto;
    position: relative;
    background: url('images/header-2.png') no-repeat center center;
    background-size: cover;
    color: var(--color-text-white);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 12.5vw 6vw;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.1);
}

.hero h1,
.hero p {
    position: relative;
    z-index: 1;
    margin: 0;
}

.hero h1 {
    font-size: 4rem;
    font-weight: 500;
    color: var(--color-text-white);
    line-height: 1.3;
    margin-bottom: 0.5rem;
    text-shadow: 7px 3px 3px var(--color-shadow-text-blue);
}

.hero p {
    font-size: 1.5rem;
    max-width: 65%;
    padding: 0.5rem;
    line-height: 1.5;
    text-shadow: 2px 1px 3px var(--color-shadow-text-blue);
}

/* DESKTOP VIEWPORT  |  ORDER: CSS styles for notes */
#notes {
    text-align: center;
    padding: 3rem 10rem;
    max-width: 100%;
    margin: 0 auto;
}

#notes h2 {
    font-size: 2.2rem;
    margin-bottom: 0.1rem;
    color: var(--color-blue);
}

#notes p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--color-blue);
}

#notes ul {
    text-align: left;
    list-style-type: disc;
    display: inline-block;
    margin: 0 auto;
    padding-left: 2rem;
    max-width: 100%;
    color: var(--color-green-dark);
    text-shadow: 2px 1px 3px var(--color-shadow-text-green);
}

/* DESKTOP VIEWPORT  |  ORDER: CSS styles for form */
form#order-form {
    max-width: 900px;
    margin: 2rem auto;
    padding: 3rem;
    background-color: #fff8ef;
    border-radius: 10px;
}

form h3 {
    font-size: 1.8rem;
    color: var(--color-blue);
    margin-top: 0.1rem;
    margin-bottom: 0.8rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 10px;
    background-color: var(--color-accent-olive);
    color: var(--color-text-white);
    font-size: 1rem;
    font-family: 'Mali', cursive;
    font-weight: 400;
}

input::placeholder,
textarea::placeholder {
    color: var(--color-text-white);
    opacity: 0.9;
}

.two-columns {
    display: flex;
    gap: 1rem;
}

.two-columns input {
    flex: 1;
    margin-bottom: 1rem;
}

.formRow fieldset {
    border: 2px solid var(--color-accent-olive);
    padding: 1.5rem;
    margin-bottom: 1.1rem;
    border-radius: 8px;
    line-height: 0.8rem;
    background-color: #f1f1e6;
}

.formRow legend {
    font-weight: bold;
    color: var(--color-accent-olive);
    font-size: 1rem;
}

.formRow label {
    display: block;
    margin: 0.5rem 0;
    font-size: 1rem;
}

.quantity-input-container {
    margin-bottom: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.quantity-input-container label {
    font-weight: 600;
    font-size: 1.1rem;
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.minus-button,
.plus-button {
    background-color: var(--color-accent-darkgreen);
    color: var(--color-text-white);
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 8px;
    height: 43px;
    transition: background-color 0.2s ease;
}

.minus-button:hover,
.plus-button:hover {
    background-color: var(--color-green-dark);
}

.quantity-input {
    max-width: 150px;
    text-align: center;
    margin-bottom: 0 !important;
    font-size: 1rem;
    border: 1px solid var(--color-accent-darkgreen);
}

.textarea-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    margin-bottom: 1.3rem;
}

.textarea-container label {
    font-weight: 600;
    font-size: 1.1rem;
}

.textarea-container textarea {
    width: 100%;
    max-width: 800px;
    min-height: 120px;
    border-radius: 8px;
    resize: vertical;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 20px;
}

input[type='submit'], 
input[type='reset'] {
    background-color: var(--color-accent-darkgreen);
    color: var(--color-text-white);
    font-size: 1rem;
    font-family: 'Mali', cursive;
    font-weight: 600;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
}

input[type='submit']:hover, 
input[type='reset']:hover {
    background-color: var(--color-green-dark);
}

/* ---------------------------------------------------------------------- */
/* DESKTOP VIEWPORT  |  CONTACT: CSS styles for availability */
.availability {
    max-width: 1000px;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px var(--color-shadow-black);
    background: linear-gradient(135deg, #fef6e4, #e7f6ec);
}

.availability h2 {
    color: var(--color-blue);
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
}

.availability p {
    color: var(--color-green-dark);
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

.availability table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.2rem;
    background: linear-gradient(135deg, #f5e9d3, #fef9f4);
    overflow: hidden;
}

.availability th,
.availability td {
    padding: 1.2rem;
    border: 1px solid var(--color-green-dark);
    text-align: center;
}

.availability thead {
    background-color: var(--color-accent-olive);
    color: var(--color-text-white);
}

.availability tbody tr:nth-child(even) {
    background-color: #f1f1e6;
}

.availability tbody td {
    color: var(--color-blue);
    font-weight: 500;
}

/* DESKTOP VIEWPORT  |  CONTACT: CSS styles for contact-info */
.contact-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin: 3rem auto;
    padding: 2rem;
}

.info-box {
    background-color: var(--color-blue);
    color: var(--color-text-white);
    padding: 1.5rem;
    border-radius: 10px;
    font-size: 1.3rem;
    text-align: center;
    width: 280px;
    line-height: 1.5;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px var(--color-shadow-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    word-break: break-word;
}

.info-box img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.info-box:hover {
    transform: translateY(-4px);
    background-color: var(--color-green-dark);
}

.info-box a {
    color: var(--color-text-white);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
    word-break: break-word;
    text-align: center;
}

.info-box a:hover {
    text-decoration: underline;
    color: var(--color-text-white);
}

/* DESKTOP VIEWPORT  |  FOOTER: CSS styles for footer */
footer {
    background-color: var(--color-blue);
    text-align: center;
    padding: 25px;
}

footer p {
    font-size: 0.75em;
    text-align: center;
    color: var(--color-text-white);
    padding: 0.1em;
}

/* ====================================================================== */
/* ===== STYLE RULES FOR TABLET VIEWPORT ===== */
@media screen and (min-width: 631px) and (max-width: 1024px), print {
/* ---------------------------------------------------------------------- */
/* TABLET VIEWPORT  |  HOME: CSS styles for nav */
    .main-nav {
        padding: 10px 20px;
    }

    .main-nav img {
        width: 90px;
    }

    .main-nav ul {
        gap: 14px;
    }

    .main-nav a {
        padding: 8px 9px;
        font-size: 1rem;
    }

/* TABLET VIEWPORT  |  HOME: CSS styles for hero image */
    .home-hero-text {
        padding-left: 7vw;
    }

    .home-hero-text h1 {
        font-size: 2.4rem;
        margin-top: 28px;
    }

    .header-btn {
        padding: 12px 30px;
    }

/* TABLET VIEWPORT  |  HOME: CSS styles for featured */
    #featured {
        padding: 60px 30px;
    }

    #featured h2 {
        font-size: 1.8rem;
    }

    .product-grid {
        display: grid;
        gap: 40px;
    }

    figure.product {
        width: 210px;
        padding: 15px;
    }

    .product.style-b img{
        border: 3.5px solid var(--color-green-light);
    }

    .product.style-c img{
        border: 3.5px solid var(--color-green-dark);
    }

/* TABLET VIEWPORT  |  HOME: CSS styles for story */
    #story p {
        max-width: 600px;
        font-size: 1rem;
    }

    #story h2 {
        max-width: 600px;
        padding-bottom: 13px;
        font-size: 1.5rem;
    }

/* TABLET VIEWPORT  |  HOME: CSS styles for testimonials */
    #testimonials {
        padding: 80px 20px;
    }

    #testimonials h2 {
        font-size: 1.8rem;
    }

    .testimonials-grid {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 30px;
    }

    blockquote {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    blockquote:nth-child(1), 
    blockquote:nth-child(3) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

/* ---------------------------------------------------------------------- */
/* TABLET VIEWPORT  |  ABOUT: CSS styles for intro */
    #intro {
        max-width: 95%;
        padding: 7.5rem 2rem 1rem 2rem;
    }

    .intro-text h2 {
        font-size: 1.5rem;
    }

    .intro-image-float {
        float: right;
        width: 30%;
        max-width: 100%;
        margin-left: 30px;
        margin-bottom: 20px;
        float: right;
    }

/* TABLET VIEWPORT  |  ABOUT: CSS styles for behind */
    #behind .first-row .desktop {
        display: none;
    }

    #behind .first-row .behind-text {
        flex: 1 1 100%;
        max-width: 100%;
        padding: 0.5rem 1rem;
    }

    #behind .second-row .column {
        flex: 1 1 50%;
        max-width: 50%;
    }

    .behind-text h2 {
        font-size: 1.8rem;
    }

    .behind-text p {
        font-size: 1rem;
    }

/* TABLET VIEWPORT  |  ABOUT: CSS styles for mission-values */
    #mission-values h2 {
        font-size: 1.8rem;
    }

/* ---------------------------------------------------------------------- */
/* TABLET VIEWPORT  |  SHOP: CSS styles for shop */
    #shop-header {
        padding-top: 7rem;
    }

    #shop-header h1 {
        font-size: 2.9rem;
    }

    .category-nav ul {
        gap: 1.3rem;
    }

    .category-nav a {
        font-size: 1rem;
    }

    #limited,
    #bunny,
    #bear {
        padding: 9px 20px;
        text-align: center;
    }

    #limited h2,
    #bunny h2,
    #bear h2 {
        font-size: 1.8rem;
    }

    #limited .product-grid,
    #bunny .product-grid,
    #bear .product-grid{
        display: grid;
        grid-template-columns: repeat(2, 180px);
        font-size: 1rem;
        row-gap: 30px;
    }

    .product.style-a.border-style-a.mobile img {
        border: 3.5px solid var(--color-green-light);
    }

    .product.style-a.border-style-b.mobile img {
        border: 3.5px solid var(--color-green-dark);
    }

    .product.style-c.mobile img {
        border: 3.5px solid var(--color-green-light);
    }

    .product.style-c.border-style-b.mobile img {
        border: 3.5px solid var(--color-green-dark);
    }

/* ---------------------------------------------------------------------- */
/* TABLET VIEWPORT  |  ORDER: CSS styles for hero */
    .hero h1 {
        font-size: 2.9rem;
    }

    .hero p {
        font-size: 1rem;
    }

/* TABLET VIEWPORT  |  ORDER: CSS styles for notes */
    #notes {
        padding: 2rem 6rem;
    }

    #notes h2 {
        font-size: 1.8rem;
    }

    #notes p {
        font-size: 1rem;
    }

/* TABLET VIEWPORT  |  ORDER: CSS styles for form */
    form#order-form {
        max-width: 600px;
        padding: 1.5rem;
    }

    form h3 {
        font-size: 1.5rem;
    }

    .quantity-input-container label {
        font-size: 1.05rem;
    }

    .minus-button,
    .plus-button {
        font-size: 1rem;
    }

    .textarea-container label {
        font-size: 1.05rem;
    }

/* ---------------------------------------------------------------------- */
/* TABLET VIEWPORT  |  CONTACT: CSS styles for availability */
    .availability {
        max-width: 600px;
        padding: 1.5rem;
        margin-top: 4rem;
        margin-left: auto;
        margin-right: auto;
    }

    .availability h2 {
        font-size: 1.8rem;
    }

    .availability p {
        font-size: 1rem;
    }

    .availability table {
        font-size: 1rem;
    }

    .availability th,
    .availability td {
        padding: 1rem;
    }

/* TABLET VIEWPORT  |  CONTACT: CSS styles for contact-info */
    .contact-info {
        gap: 1.5rem;
        margin: 2rem auto;
    }

    .info-box {
        font-size: 1.2rem;
    }
}

/* ====================================================================== */
/* ===== STYLE RULES FOR MOBILE VIEWPORT ===== */
@media (max-width: 630px) {
/* ---------------------------------------------------------------------- */
/* MOBILE VIEWPORT  |  HOME: CSS styles for nav */
    .main-nav {
        background: none;
        backdrop-filter: none;
        padding: 15px 8px;
    }

    .main-nav img {
        width: 90px;
        height: auto;
    }

    .hamburger {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        width: 40px;
        height: 40px;
        cursor: pointer;
        z-index: 200;
        background: rgba(8, 99, 35, 0.15); 
        backdrop-filter: blur(12px);
        border-radius: 12px;
        padding: 4px;
        margin-right: 15px;
    }

    .hamburger span {
        display: block;
        width: 25px;
        height: 3px; 
        background: var(--color-text-white);
        border-radius: 3px;
        margin: 2.5px 0;
        position: relative;
        z-index: 1;
        transition: all 0.3s ease;
    }

    .hamburger.active span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        list-style: none;
        padding: 50px 0;
        margin: 0;
        background: url('images/header-2.png') no-repeat left center;
        background-size: cover;
        opacity: 0;
        pointer-events: none;
        transform: translateY(-10px);
        transition: all 0.3s ease;
        border-radius: 0 0 15px 15px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
        z-index: 150;
    }

    .nav-menu::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.15);
        border-radius: 0 0 15px 15px;
    }

    .nav-menu.active {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
    }

    .nav-menu a {
        position: relative;
        z-index: 2;
        color: #fff;
        font-size: 1.3rem;
        text-decoration: none;
        font-weight: 600;
        text-shadow: 1px 1px 8px rgba(252, 191, 73, 0.8);
        transition: color 0.3s ease;
    }

    .nav-menu a:hover {
        color: #ffb703;
    }

    .page-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(8px); /* Adjust blur intensity */
        background: rgba(0, 0, 0, 0.2); /* Optional dimming effect */
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
        z-index: 100; /* Behind hamburger but above rest of content */
    }

    .page-overlay.active {
        opacity: 1;
        pointer-events: auto;
    }

/* MOBILE VIEWPORT  |  HOME: CSS styles for hero image */
    .home-hero {
        aspect-ratio: 10 / 9;
    }

    .home-hero-text {
        padding-left: 7vw;
    }

    .home-hero-text h1 {
        font-size: 1.8rem;
        line-height: 1;
        margin-top: 35px;
        margin-bottom: 15px;
        text-shadow: 4px 2.5px 2.5px var(--color-shadow-text-blue);
    }

    .header-btn {
        padding: 12px 30px;
        font-size: 0.8rem;
    }

/* MOBILE VIEWPORT  |  HOME: CSS styles for featured */
    #featured {
        padding: 40px 30px;
    }

    #featured h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .product-grid {
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(2, 160px);
        font-size: 0.9rem;
        margin-bottom: 8px;
    }

    figure.product {
        width: 160px;
        padding: 8px;
    }

    .product.style-b img{
        border: 3.5px solid var(--color-green-light);
    }

    .product.style-c img{
        border: 3.5px solid var(--color-green-dark);
    }

    .product h3 {
        font-size: 1rem;
    }

    .featured-btn {
        font-size: 0.8rem;
    }

/* MOBILE VIEWPORT  |  HOME: CSS styles for story */
    #story {
        aspect-ratio: 9 / 9;
    }

    #story h2 {
        max-width: 440px;
        padding-bottom: 9px;
        font-size: 1.3rem;
    }    
    
    #story p {
        max-width: 440px;
        font-size: 0.9rem;
        line-height: 1.2;
    }

/* MOBILE VIEWPORT  |  HOME: CSS styles for testimonials */
    #testimonials {
        padding: 80px 20px;
    }

    #testimonials h2 {
        font-size: 1.5rem;
    }

    .testimonials-grid {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 30px;
    }

    blockquote {
        flex: 1 1 280px;
        max-width: 300px;
        width: 40%;
        font-size: 0.9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    blockquote:nth-child(1), 
    blockquote:nth-child(3) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

/* ---------------------------------------------------------------------- */
/* MOBILE VIEWPORT  |  ABOUT: CSS styles for intro */
    #intro {
        max-width: 95%;
        padding: 6rem 2rem 1rem 2rem;
    }

    .intro-text h2 {
        font-size: 1.3rem;
    }

    .intro-image-float {
        float: right;
        width: 50%;
        max-width: 100%;
        margin-left: 2px;
        margin-bottom: 2px;
        float: right;
    }

/* MOBILE VIEWPORT  |  ABOUT: CSS styles for behind */
    #behind .first-row .desktop {
        display: none;
    }

    #behind .first-row .behind-text {
        flex: 1 1 100%;
        max-width: 100%;
        padding: 0.5rem 1rem;
    }

    #behind .second-row .desktop {
        display: none;
    }

    #behind .second-row .column {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .behind-text h2 {
        font-size: 1.5rem;
    }

    .behind-text p {
        font-size: 0.9rem;
    }

/* MOBILE VIEWPORT  |  ABOUT: CSS styles for mission-values */
    #mission-values h2 {
        font-size: 1.5rem;
    }

    .value {
        max-width: 300px;
        min-height: 180px;
        font-size: 0.9rem;
    }

/* ---------------------------------------------------------------------- */
/* MOBILE VIEWPORT  |  SHOP: CSS styles for shop */
    #shop-header {
        padding-top: 5rem;
    }

    #shop-header h1 {
        font-size: 2.9rem;

    }

    .category-nav ul {
        gap: 0.85rem;
    }

    .category-nav a {
        font-size: 0.93rem;
    }

    #limited,
    #bunny,
    #bear {
        padding: 9px 10px;
        text-align: center;
    }

    #limited h2,
    #bunny h2,
    #bear h2 {
        font-size: 1.8rem;
        padding: 0;
    }

    #limited .product-grid,
    #bunny .product-grid,
    #bear .product-grid{
        display: grid;
        gap: 3px;
        grid-template-columns: repeat(2, 170px);
        font-size: 0.85rem;
    }

    .product.style-a.border-style-a.mobile img {
        border: 3.5px solid var(--color-green-light);
    }

    .product.style-a.border-style-b.mobile img {
        border: 3.5px solid var(--color-green-dark);
    }

    .product.style-c.mobile img {
        border: 3.5px solid var(--color-green-light);
    }

    .product.style-c.border-style-b.mobile img {
        border: 3.5px solid var(--color-green-dark);
    }

/* ---------------------------------------------------------------------- */
/* MOBILE VIEWPORT  |  ORDER: CSS styles for hero */
    .hero h1 {
        font-size: 1.8rem;
        line-height: 1;
        margin-top: 35px;
        margin-bottom: 15px;
        text-shadow: 4px 2.5px 2.5px var(--color-shadow-text-blue);
    }

    .hero p {
        font-size: 0.9rem;
        padding: 0.2rem;
    }

/* MOBILE VIEWPORT  |  ORDER: CSS styles for notes */
    #notes {
        padding: 2rem 2rem;
    }

    #notes h2 {
        font-size: 1.5rem;
    }

    #notes p {
        font-size: 0.9rem;
    }

/* MOBILE VIEWPORT  |  ORDER: CSS styles for form */
    form#order-form {
        max-width: 365px;
        padding: 1.5rem;
    }

    form h3 {
        font-size: 1.3rem;
        margin-top: 1rem;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="number"],
    textarea {
        margin-bottom: 0.7rem;
        font-size: 0.9rem;
    }

    .two-columns {
        gap: 0.7rem;
    }

    .quantity-input-container label {
        font-size: 1rem;
    }

    .minus-button,
    .plus-button {
        font-size: 1rem;
    }

    .textarea-container label {
        font-size: 1rem;
    }

/* ---------------------------------------------------------------------- */
/* MOBILE VIEWPORT  |  CONTACT: CSS styles for availability */
    .availability {
        max-width: 365px;
        padding: 1.5rem;
        margin-top: 4rem;
        margin-left: auto;
        margin-right: auto;
    }

    .availability h2 {
        font-size: 1.8rem;
    }

    .availability p {
        font-size: 0.9rem;
    }

    .availability table {
        font-size: 0.9rem;
    }

    .availability th,
    .availability td {
        padding: 0.9rem;
    }

    .availability td:nth-of-type(2) {
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }

/* MOBILE VIEWPORT  |  CONTACT: CSS styles for contact-info */
    .contact-info {
        gap: 1.5rem;
        margin: 2rem auto;
    }

    .info-box {
        font-size: 1rem;
    }
}

/* ====================================================================== */
/* ===== PRINT MEDIA QUERY ===== */
@media print {
/* ---------------------------------------------------------------------- */
/* PRINT  |  CSS Reset */
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

/* PRINT  |  Hide navigation and interactive elements */
    .header-btn,
    .featured-btn,
    .product .btn,
    footer {
        display: none !important;
    }

/* PRINT  |  Page setup */
    @page {
        margin: 1.5cm;
        size: portrait;
    }

    body {
        font-size: 12pt;
        line-height: 1.5;
        color: #000;
        background: #fff;
    }

/* PRINT  |  CSS styles for headings */
    h1 {
        font-size: 24pt;
        margin-top: 0;
    }

    h2 {
        font-size: 18pt;
        margin-top: 12pt;
    }

    h3 {
        font-size: 14pt;
    }

/* PRINT  |  CSS styles for links */
    a {
        text-decoration: underline;
        color: #000;
    }

/* PRINT  |  CSS styles for images */
    img {
        max-width: 100% !important;
        height: auto !important;
    }

/* ---------------------------------------------------------------------- */
/* PRINT  |  HOME: CSS styles for hero image */
    .home-hero, .home-hero-text {
        justify-content: center;
        max-width: 100%;
        padding: 30px 0 0 0;
        aspect-ratio: 0;
    }

    .home-hero::before {
        display: none;
    }

    .home-hero-text h1 {
        color: #000;
        text-shadow: none;
    }
/* PEINT  |  HOME: CSS styles for featured */
    #featured {
        padding: 1px 0;
    }

    .product-grid {
        display: grid;
        gap: 15px;
    }

/* PRINT  |  HOME: CSS styles for story */
    #story {
        padding: 20px;
        height: 160px;
    }

    #story::before {
        display: none;
    }

/* PRINT  |  HOME: CSS styles for testimonials */
    #testimonials {
        padding: 70px 0;
    }

/* ---------------------------------------------------------------------- */
/* PRINT  |  ABOUT: CSS styles for intro */
    #intro {
        padding: 90px 0 40px 0;
    }

    .intro-image-float {
        width: 40%;
        margin: 10px;
    }

/* PRINT  |  ABOUT: CSS styles for behind */
    #behind {
        padding: 20px 0;
        background: none;
    }

    .column img {
        box-shadow: none;
        border: 1px solid #000;
    }

/* PRINT  |  ABOUT: CSS styles for mission-values */
    #mission-values {
        padding: 90px 0;
        background: none;
    }

/* ---------------------------------------------------------------------- */
/* PRINT  |  SHOP: CSS styles for shop */
    #shop-header {
        padding-top: 70px;
        padding-bottom: 0.01px;
    }

    .category-nav {
        display: none;
    }

    #limited .product:nth-of-type(3),
    #limited .product:nth-of-type(4) {
        padding-bottom: 150px;
    } 

    #bunny h2 {
        margin-top: 70px;
    }

    #bunny .product:nth-of-type(7),
    #bunny .product:nth-of-type(8),
    #bear .product:nth-of-type(5),
    #bear .product:nth-of-type(6) {
        padding-top: 70px;
    }

/* ---------------------------------------------------------------------- */
/* PRINT  |  ORDER: CSS styles for hero */
    .hero,
    .hero h1,
    .hero p {
        padding: 70px 0 0 0;
        aspect-ratio: 0;
    }

    .hero::before {
        display: none;
    }

    .hero h1,
    .hero p {
        color: #000;
        text-shadow: none;
        justify-content: center;
        max-width: 100%;
        padding: 10px 30px;
        aspect-ratio: 0;
    }

/* PRINT  |  ORDER: CSS styles for notes */
    #notes {
        padding: 20px;
    }

    #notes ul {
        text-shadow: none;
    }

/* TABLET VIEWPORT  |  ORDER: CSS styles for form */
    form#order-form {
        background: none;
        border: 2px solid #000;
        padding: 20px;
        margin: 20px auto;
    }

    form h3 {
        color: #000;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }

    form h3:nth-of-type(2) {
        margin-top: 200px;
        padding-top: 90px;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="number"],
    textarea {
        background: none !important;
        color: #000 !important;
        border: 1px solid #000 !important;
        padding: 5px;
    }

    .formRow fieldset {
        border: 1px solid #000;
        background: none;
        padding: 10px;
        margin-bottom: 30px;
    }

    .formRow legend {
        color: #000;
    }

    .formRow fieldset:nth-of-type(3) .print {
        color: #000;
        margin-top: 70px;
    }

    .minus-button,
    .plus-button {
        background: #ddd !important;
        color: #000 !important;
        border: 1px solid #000;
    }

    .quantity-input {
        border: 1px solid #000;
    }

    input[type='submit'], 
    input[type='reset'] {
        background: #ddd !important;
        color: #000 !important;
        border: 2px solid #000;
        padding: 10px 20px;
    }

/* PRINT  |  CONTACT: CSS styles for availability */
    .availability {
        margin-top: 20px;
        padding: 20px;
        box-shadow: none;
        background: none;
        border: 2px solid #000;
    }

    .availability table {
        background: none;
    }

    .availability th {
        background: #ddd !important;
        color: #000 !important;
        border: 1px solid #000;
    }

    .availability td {
        border: 1px solid #000;
    }

/* PRINT  |  CONTACT: CSS styles for contact-info */
    .contact-info {
        padding: 170px 0;
    }

    .info-box {
        border: 2px solid #000;
        background: none;
        color: #000;
        box-shadow: none;
    }

    .info-box img {
        display: none;
    }

    .info-box a {
        color: #000;
    }
}
